<h1 class="important-text">
    <div class="line-space">About</div>
</h1>
<div class="blurb bit-font">
    Cinnabar Island Pokeﾌ［on Gym is proud to call Blaine its leader. Blaine is
    a passionate Pokeﾌ［on trainer driven to prove his skill and earn himself a
    spot among the most respected trainers in the Kanto region. He prefers
    fire-type Pokeﾌ［on that match the passion and intensity he brings to his
    Pokeﾌ［on training.
</div>
<div class="blurb bit-font">
    Learn More About Blaine on
    <a href="https://bulbapedia.bulbagarden.net/wiki/Blaine" class="learn-more">
        <img src="content/bulbapedia-mobile.png" class="bulbapedia-script" />
        <img src="content/bulbapedia_icon.ico" class="bulbapedia-icon" />
    </a>
</div>
<h1 class="important-text">
    <div class="line-space">Blaine's Party</div>
</h1>
<ul class="party-details">
    <li class="party-row">
        <table>
            <tbody>
                <tr>
                    <td rowspan="2" class="party-data">
                        <img class="pokemon-image" src="https://cdn.bulbagarden.net/upload/c/cc/Spr_1b_058.png" />
                    </td>
                    <td rowspan="2" class="party-data pokemon-description">
                        Growlithe<br />
                        Lv. 42
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Ember</td>
                            </tr>
                            <tr>
                                <td class="fire-move">Fire</td>
                            </tr>
                        </table>
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Leer</td>
                            </tr>
                            <tr>
                                <td class="normal-move">Normal</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Takedown</td>
                            </tr>
                            <tr>
                                <td class="normal-move">Normal</td>
                            </tr>
                        </table>
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Agility</td>
                            </tr>
                            <tr>
                                <td class="psychic-move">Psychic</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
    <li class="party-row">
        <table>
            <tbody>
                <tr>
                    <td rowspan="2" class="party-data">
                        <img class="pokemon-image" src="https://cdn.bulbagarden.net/upload/a/a4/Spr_1b_077.png" />
                    </td>
                    <td rowspan="2" class="party-data pokemon-description">
                        Ponyta<br />
                        Lv. 40
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Tail Whip</td>
                            </tr>
                            <tr>
                                <td class="normal-move">Normal</td>
                            </tr>
                        </table>
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Stomp</td>
                            </tr>
                            <tr>
                                <td class="normal-move">Normal</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Growl</td>
                            </tr>
                            <tr>
                                <td class="normal-move">Normal</td>
                            </tr>
                        </table>
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Fire Spin</td>
                            </tr>
                            <tr>
                                <td class="fire-move">Fire</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
    <li class="party-row">
        <table>
            <tbody>
                <tr>
                    <td rowspan="2" class="party-data">
                        <img class="pokemon-image" src="https://cdn.bulbagarden.net/upload/3/33/Spr_1b_078.png" />
                    </td>
                    <td rowspan="2" class="party-data pokemon-description">
                        Rapidash<br />
                        Lv. 42
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Tail Whip</td>
                            </tr>
                            <tr>
                                <td class="normal-move">Normal</td>
                            </tr>
                        </table>
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Stomp</td>
                            </tr>
                            <tr>
                                <td class="normal-move">Normal</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Growl</td>
                            </tr>
                            <tr>
                                <td class="normal-move">Normal</td>
                            </tr>
                        </table>
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Fire Spin</td>
                            </tr>
                            <tr>
                                <td class="fire-move">Fire</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
    <li class="party-row">
        <table>
            <tbody>
                <tr>
                    <td rowspan="2" class="party-data">
                        <img class="pokemon-image" src="https://cdn.bulbagarden.net/upload/1/1b/Spr_1b_059.png" />
                    </td>
                    <td rowspan="2" class="party-data pokemon-description">
                        Arcanine<br />
                        Lv. 47
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Roar</td>
                            </tr>
                            <tr>
                                <td class="normal-move">Normal</td>
                            </tr>
                        </table>
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Ember</td>
                            </tr>
                            <tr>
                                <td class="fire-move">Fire</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Fire Blast</td>
                            </tr>
                            <tr>
                                <td class="fire-move">Fire</td>
                            </tr>
                        </table>
                    </td>
                    <td class="party-data">
                        <table class="move-details">
                            <tr>
                                <td>Takedown</td>
                            </tr>
                            <tr>
                                <td class="normal-move">Normal</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>