<h1 class="important-text">
    <div class="line-space">Challenge Blaine</div>
</h1>
<div id="success" class="bit-font" style="display: none;">You passed! Come to Cinnabar Island to battle Blaine!</div>
<div id="failure" class="bit-font" style="display: none;">You failed! Try again.</div>
<div id="challenge" class="double-border">
    <form class="bit-font">
        <fieldset>
            <legend>Question 1: Caterpie evolves into Butterfree?</legend>
            <label><input type="radio" name="q1" value="yes" />Yes</label><br />
            <!--correct-->
            <label><input type="radio" name="q1" value="no" />No</label>
        </fieldset>
        <fieldset>
            <legend>
                Question 2: There are 9 certified Pokémon League Badges?
            </legend>
            <label><input type="radio" name="q2" value="yes" />Yes</label><br />
            <label><input type="radio" name="q2" value="no" />No</label>
            <!--Correct-->
        </fieldset>
        <fieldset>
            <legend>
                Question 3: Poliwag evolves 3 times?
            </legend>
            <label><input type="radio" name="q3" value="yes" />Yes</label><br />
            <!--Correct-->
            <label><input type="radio" name="q3" value="no" />No</label>
        </fieldset>
        <fieldset>
            <legend>
                Question 4: Are thunder moves effective against ground element-type
                Pokémon?
            </legend>
            <label><input type="radio" name="q4" value="yes" />Yes</label><br />
            <label><input type="radio" name="q4" value="no" />No</label>
            <!--Correct-->
        </fieldset>
        <fieldset>
            <legend>
                Question 5: Pokémon of the same kind and level are not identical?
            </legend>
            <label><input type="radio" name="q5" value="yes" />Yes</label><br />
            <!--Correct-->
            <label><input type="radio" name="q5" value="no" />No</label>
        </fieldset>
        <fieldset>
            <legend>
                Question 6: TM28 contains Tombstoner?
            </legend>
            <label><input type="radio" name="q6" value="yes" />Yes</label><br />
            <label><input type="radio" name="q6" value="no" />No</label>
            <!--Correct-->
        </fieldset>
        <fieldset>
            <legend>
                Question 7: Magmar is the spitfire Pokémon?
            </legend>
            <label><input type="radio" name="q7" value="yes" />Yes</label><br />
            <!--Correct-->
            <label><input type="radio" name="q7" value="no" />No</label>
        </fieldset>
        <fieldset>
            <legend>
                Question 8: A steel-type move used on a fire-type Pokémon will be
                super effective?
            </legend>
            <label><input type="radio" name="q8" value="yes" />Yes</label><br />

            <label><input type="radio" name="q8" value="no" />No</label>
            <!--Correct-->
        </fieldset>
    </form>
    <button class="btn bit-font-large" id="submit">Submit</button>
</div>