<div id="home">
    <h1 class="important-text">Cinnabar Island PokeÌmon Gym</h1>
    <div id="imageCarousel" class="double-border">
        <div class="left-arrow">
            <div class="arrow">
                <img id="left" src="content/left-arrow.png" />
            </div>
        </div>
        <div class="focus">
            <div class="carousel">
                <div class="cell" style="transform: rotateY(0deg) translateZ(206px);"></div>
                <div class="cell" style="transform: rotateY(72deg) translateZ(206px);"></div>
                <div class="cell" style="transform: rotateY(144deg) translateZ(206px);"></div>
                <div class="cell" style="transform: rotateY(216deg) translateZ(206px);"></div>
                <div class="cell" style="transform: rotateY(288deg) translateZ(206px);"></div>
            </div>
        </div>
        <div class="right-arrow">
            <div class="arrow">
                <img id="right" src="content/right-arrow.png" />
            </div>
        </div>
    </div>
    <h1 class="important-text">Blaine, the Hotheaded Quiz Master</h1>
</div>