<div id="home">
    <h1 class="important-text">
        <div class="line-space">Cinnabar Island PokeÌmon Gym</div>
    </h1>
    <div id="imageCarousel" class="double-border">
        <div class="left-arrow">
            <div class="arrow">
                <img id="left" src="https://cdn.bulbagarden.net/upload/0/03/FRLG_Spin_Tile.png" />
            </div>
        </div>
        <div class="focus">
            <div class="carousel">
                <div class="cell" style="transform: rotateY(0deg) translateZ(206px);"></div>
                <div class="cell" style="transform: rotateY(72deg) translateZ(206px);"></div>
                <div class="cell" style="transform: rotateY(144deg) translateZ(206px);"></div>
                <div class="cell" style="transform: rotateY(216deg) translateZ(206px);"></div>
                <div class="cell" style="transform: rotateY(288deg) translateZ(206px);"></div>
            </div>
        </div>
        <div class="right-arrow">
            <div class="arrow">
                <img id="right" src="https://cdn.bulbagarden.net/upload/0/03/FRLG_Spin_Tile.png" />
            </div>
        </div>
    </div>
    <h1 class="important-text">
        <img class="header-image-large blaine-header-image"
            src="https://cdn.bulbagarden.net/upload/1/11/VSBlaine_PE.png" />
        <div class="header-content">- Gym Leader -<br>Blaine, the Hotheaded Quiz Master</div>
        <img class="header-image-large blaine-header-image"
            src="https://cdn.bulbagarden.net/upload/1/11/VSBlaine_PE.png" />
    </h1>
</div>