<div id="resources" class="bit-font">
    <h1 class="important-text">
        <div class="line-space">
            <img class="header-image-small" src="https://cdn.bulbagarden.net/upload/7/72/FRLG_Items_pocket_M.png" />
            <div class="header-content">Resources</div>
            <img class="header-image-small" src="https://cdn.bulbagarden.net/upload/7/72/FRLG_Items_pocket_M.png" />
        </div>
    </h1>

    <div id="downloads">
        <ul>
            <li>
                <img src="content/SugimoriMasterBall.png" class="pokeball-list-image" />
                Cinnabar Island Map -
                <a href="content/Cinnabar_Island_Map.png" download><button
                        class="btn bit-font-large">Download</button></a>
            </li>
            <li>
                <img src="content/SugimoriMasterBall.png" class="pokeball-list-image" />
                Cinnabar Gym Map -
                <a href="content/Cinnabar_Gym_Map.png" download><button class="btn bit-font-large">Download</button></a>
            </li>
        </ul>
    </div>
</div>