.primary-background {
  background-color: darksalmon;
}

.double-border {
  border: double 5px #8b0000;
  border-radius: 5px;
}

body {
  width: 60%;
  margin: auto;
}

#navbar {
  margin: 50px auto;
}

.bit-font {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  color: #8b0000;
}

.bit-font-large {
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  color: #8b0000;
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
  list-style-type: none;
}

nav ul {
  display: inline-block;
  padding: 0px;
}

nav > ul {
  padding: 10px;
  color: #8b0000;
}

li > a {
  color: antiquewhite;
  text-decoration: none;
}

li > a:hover {
  color: #8b0000;
}

.important-text {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
  color: #8b0000;
}

.line-space {
  padding: 5px;
  border-bottom: 2px solid rgba(36, 24, 21, 0.8);
  width: 60%;
  margin: auto;
}

.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #8b0000;
  color: antiquewhite;
  padding: 5px;
  margin: 20px;
}

.btn:hover {
  background-color: crimson;
}

.blurb {
  line-height: 1.5em;
  margin: 20px;
}

.header-image-small {
  width: 40px;
  height: 40px;
  padding: 0px 20px;
}

.header-image-large {
  width: 80px;
  height: 80px;
  padding: 0px 20px;
}

.header-content {
  display: inline-block;
}

#footer {
  margin: 40px auto;
  display: inline-block;
}
